.toolbar {
  position:absolute;
  top: -8rem;
  width: 100%;
	padding: 16px;
	background: var(--background-color);
  box-shadow: 1px 1px 10px 0px var(--box-shadow);
  transition: top .1s ease-out;
  display: flex;
	gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
  flex-direction: row;
  cursor: default;
  &.open{
    top: 0;
  }

  & .div-btn_toolbar {
    width: 32px;
    height: 32px;

    &#change_text_color-div, &#change_background_color-div{
      position: relative;
    }
  }

  & .btn_toolbar {
    color: var(--icon-color);
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: var(--item_hover-background-color);
    }

    & svg {
      width: 20px;
      height: 20px;
      margin: auto;
    }
  }
}

.colors_container{
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  background-color: var(--background-color);
  width: 256px;
  max-height: 300px;
  overflow-y: auto;
  padding: 16px;
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: default;

  .color-group {
    margin-bottom: 16px;
  }
  
  .color-group-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
  
  .color-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
  }
  
  .color-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
  #custom-color-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    #custom-color_picker-input{
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      cursor: pointer;
    }
    #custom-color-display {
      position: relative; /* Asegura que el pseudo-elemento se posicione dentro del contenedor */
      border-radius: 50%;
      height: 32px;
      width: 32px;
      background: conic-gradient(
        from 0deg,
        hsl(0 100% 50%), 
        hsl(45 100% 50%), 
        hsl(90 100% 50%), 
        hsl(135 100% 50%), 
        hsl(180 100% 50%), 
        hsl(225 100% 50%), 
        hsl(270 100% 50%), 
        hsl(315 100% 50%), 
        hsl(360 100% 50%)
      );
    }
    
    #custom-color-display::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: 1;
      background: radial-gradient(circle, rgba(255,255,255,0.8), transparent 50%);
    }

    #custom-color-input{
      width: 130px;
      height: 30px;
      padding: 5px;
      background-color: var(--background-color);
      color: var(--text-color);
      border-radius: 5px;
      border: none;
      outline: none;

      &:hover {
        box-shadow: 0 0 0 .15vw var(--icon-color);
      }

      &:focus {
        box-shadow: 0 0 0 .15vw var(--item_hover-icon-color);
      }
    }
    #add_custom_color-btn {
      width: 32px;
      height: 32px;
    }
  }

  & {
    --sb-track-color: var(--background-color);
    --sb-thumb-color: #989898;
    --sb-size: 10px;
  }
  
  &::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 50px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 50px;
  }
}








#change_font_size-container, #change_header-container {
  position: relative;
  display: inline-block;
  width: 94px;
  height: 32px;
  & #change_font_size-display, #change_header-display {
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    &:hover{
      background-color: var(--item_hover-background-color);
      cursor: pointer;
    }

    & p {
      font-size: 14px;
    }

    & button.open_change_font-size, & button.open_change_header {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: none;

      & svg {
        rotate: -90deg;
        color: var(--text-color);
        transition: rotate .3s ease;
        &.rotate{
          rotate: 90deg;
        }
      }
    }



    & #change_font_size-open-btn, #change_header-open-btn {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      &:hover{
        cursor: pointer;
      }
    }
  }
  
  #change_font_size-options, #change_header-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    width: 200px;
    &.show {
      display: block;
    }

    & .option {
      color: var(--text-color);
      padding: 10px;
      cursor: pointer;

      &:hover{
        background-color: var(--item_hover-background-color);
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:first-child{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
}