.toolbar {
  position:absolute;
  top: -8rem;
  width: 100%;
	padding: 16px;
	background: var(--background-color);
  box-shadow: 1px 1px 10px 0px var(--box-shadow);
  transition: top .1s ease-out;
  display: flex;
	gap: 10px;
	margin-bottom: 16px;
	flex-wrap: nowrap;
  /* overflow: hidden; */
  flex-direction: row;
  cursor: default;
  &.open{
    top: 0;
  }

  & .div-btn_toolbar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;

    &#change_text_color-div, &#change_background_color-div{
      position: relative;
    }
  }

  & .btn_toolbar {
    flex-shrink: 0;
    color: var(--icon-color);
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    @media (hover: hover) and (pointer: fine) {
          &:hover {
      background-color: var(--item_hover-background-color);
    }
    }


    & svg {
      width: 20px;
      height: 20px;
      margin: auto;
    }
  }
}

.colors_container{
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  background-color: var(--background-color);
  width: 256px;
  max-height: 300px;
  overflow-y: auto;
  padding: 16px;
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: default;

  .clear-color-btn {
    display: flex;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 8px;
    background-color: var(--item_hover-background-color);
    transition: background-color .1s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
      background-color: #525252;
      }
    }

    svg{
      color: var(--icon-color);
      width: 24px;
      height: 24px;
    }
  }

  .toggle_transparency {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    height: 2rem;
    margin-bottom: 16px;

    p {
      display: inline;
      font-size: 14px;
    }
    
    .toggle_transparency-label {
      width: 3rem;
      height: 1.5rem;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & .toggle_transparency-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--icon-color);
        transition: .2s;
        border-radius: 30px;
    
        &:before {
          position: absolute;
          content: "";
          height: 1.3rem;
          width: 1.3rem;
          border-radius: 50px;
          left: .1rem;
          bottom: .1rem;
          background-color: var(--item_hover-background-color);
          transition: .4s;
        }
      }
    
      & input {
        display: none;
    
        &:checked + .toggle_transparency-slider::before {
          background-color: var(--select-btn-hover);
        }
        
        &:checked + .toggle_transparency-slider {
          background-color: var(--item_hover-background-color);
        }
          
        &:checked + .toggle_transparency-slider:before {
          transform: translateX(1.5rem);
        }
      }
    }
  }

  .color-group {
    margin-bottom: 16px;
  }
  
  .color-group-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
  
  .color-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
  }
  
  .color-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  & hr{
    background-color: var(--item_hover-background-color);
    border: none;
    height: 1px;
    margin: 16px 0;
  }
  
  .custom-color-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    .custom-color-display {
      position: relative;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      background: conic-gradient(
        from 0deg,
        hsl(0 100% 50%), 
        hsl(45 100% 50%), 
        hsl(90 100% 50%), 
        hsl(135 100% 50%), 
        hsl(180 100% 50%), 
        hsl(225 100% 50%), 
        hsl(270 100% 50%), 
        hsl(315 100% 50%), 
        hsl(360 100% 50%)
      );
    }

    .custom-color-display::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: 1;
      background: radial-gradient(circle, rgba(255,255,255,0.8), transparent 50%);
    }

    .custom-color_picker-input{
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      cursor: pointer;
    }

    .custom-color-input-text{
      width: 130px;
      height: 30px;
      padding: 5px;
      background-color: var(--background-color);
      color: var(--text-color);
      border-radius: 5px;
      border: none;
      outline: none;

      @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 0 1px var(--icon-color);
      }
      }

      &:focus {
        box-shadow: 0 0 0 1.5px var(--item_hover-icon-color);
      }
    }
    .add_custom_color-btn {
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 5px;
      background-color: var(--background-color);
      color: var(--icon-color);
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--item_hover-background-color);  
        }
      }
    }
  }

  & {
    --sb-track-color: var(--background-color);
    --sb-thumb-color: #989898;
    --sb-size: 10px;
  }
  
  &::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 50px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 50px;
  }
}

#change_font_size-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2px;

  & #font_size-input{
    width: 32px;
    height: 24px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--icon-color);
    background-color: var(--background-color);
    color: var(--text-color);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 0 1px var(--icon-color);
      }
    }
      
    &:focus {
      box-shadow: 0 0 0 1px var(--item_hover-icon-color);
    }
  }
}


#dropdown{
  flex-shrink: 0;
  position: relative;
  color: var(--icon-color);
  background: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 32px;
  height: 32px;

  & #dropdown-open {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    & svg {
      rotate: -90deg;
      color: var(--icon-color);
      transition: rotate .3s ease;
      &.rotate{
        rotate: 90deg;
      }
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
      background-color: var(--item_hover-background-color);
    }
  }
  }

  #dropdown-container{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1000;
    background-color: var(--background-color);
    box-shadow: 0 2px 10px var(--box-shadow);
    padding: 8px;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 80px;
    width: max-content;
    height: auto;
    max-height: 300px;
    max-width: 144px;
    cursor: default;
    &.show{
      display: flex;
    }
  }
}