:root{
  --padding-left_right: 16px;
  --first-grid-template: 32px;
  --width-sidebar: 200px;
  --sidebar-close_value: calc(var(--padding-left_right) * 2 + var(--first-grid-template));
  --sidebar-left: calc(var(--sidebar-close_value) - var(--width-sidebar));
}

.open_sidebar {
  grid-area: area4;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.open .open_sidebar__burger{
    transform: rotate(45deg);
    &::before, &::after{
      transform: rotate(90deg);
      top: 0;
    }
  }

  @media (hover: hover) and (pointer: fine) {
      &:hover .open_sidebar__burger,
  &:hover .open_sidebar__burger::before,
  &:hover .open_sidebar__burger::after{
    background-color: var(--item_hover-icon-color);
  }
  }

}

.open_sidebar__burger {
  width: 32px;
  height: 3px;
  position: relative;

  &::before, &::after, &{
    background-color: var(--icon-color);
    border-radius: 5px;
    transition: transform .3s ease, top .3s ease, background-color .2s ease;
  }
  &::before, &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &::after{
    top: 9px;
  }
  &::before{
    top: -9px;
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  width: var(--width-sidebar);
  height: 100%;
  padding-top: 5rem;
  gap: 1rem;
  top: 0;
  left: calc(0px - var(--width-sidebar));
  color: var(--text-color);
  background-color: var(--background-color-nav);
  transition: left .5s ease, box-shadow .5s ease;
  z-index: 999;
  &.open {
    left: 0;
    box-shadow: 1px 0px 10px .4px var(--box-shadow);
  }
}
.sidebar_div{
  padding: .5rem var(--padding-left_right);
  display: grid;
  grid-template-columns: 1fr var(--first-grid-template);
  align-items: center;
  width: 100%;
  gap: 1rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: background-color .2s ease, color .2s ease;
  font-weight: 500;
  @media (hover: hover) and (pointer: fine){
      &:hover{
    cursor: pointer;
  }
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover{
      background-color: var(--select-btn-hover);
      color: var(--background-color);
      
      & svg:not(.sidebar_div_notes){
        color: var(--background-color);
      }
      & svg.sidebar_div_notes{
        fill: var(--background-color);
      }
    }
  }

  &.active{
    background-color: var(--select-btn-hover);
    color: var(--background-color);
    
    & svg:not(.sidebar_div_notes){
      color: var(--background-color);
    }
    & svg.sidebar_div_notes{
      fill: var(--background-color);
    }
  }
}
.sidebar_div svg:not(.sidebar_div_notes){
  height: 32px;
  width: 32px;
  justify-self: center;
  color: var(--icon-color);
}
svg.sidebar_div_notes{
  height: 32px;
  width: 32px;
  justify-self: center;
  fill: var(--icon-color);
}



#btn_theme{
  position: absolute;
  bottom: 0;
  left: 0;
  align-self: flex-end;
  padding: .5rem var(--padding-left_right);
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.sidebar_div_theme{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (hover: hover) and (pointer: fine) {
      &:hover{
    cursor: pointer;
    & svg{
      color: var(--item_hover-icon-color);
    }
  }
  }

  & svg{
    height: 32px;
    width: 32px;
    justify-self: center;
    color: var(--icon-color);
    transition: color .2s ease;
  }
}

@media (min-width: 480px) {
  #sidebar {
    left: var(--sidebar-left);
    /* border-right: 1px solid red; */
    /* box-shadow: 1px 67px 10px .4px var(--box-shadow); */
  }
}